.camera-shots-gallery-container {
  transition: 0.3s;
  min-height: calc(100vh - 65px);
}

.gallery-slider-item {
  width: calc(50% - 12px);
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 10px);
}
.gallery-slider-item.extended-width {
  width: 100%;
}
