.en-regular {
  font-family: var(--SF-Pro-Rounded-Regular);
}
.en-light {
  font-family: var(--SF-Pro-Rounded-Light);
}
.en-medium {
  font-family: var(--SF-Pro-Rounded-Medium);
}
.en-semibold {
  font-family: var(--SF-Pro-Rounded-semibold);
}
