.svg-holder-r svg {
  width: 20px;
  height: 20px;
}
.offer-category .svg-holder-r svg path,
.offer-category .svg-holder-r svg circle,
.offer-category .svg-holder-r svg line,
.offer-category .svg-holder-r svg ellipse {
  fill: #c4c2c2;
  stroke: #c4c2c2;
}
.offer-logo .svg-holder-r img,
.offer-logo .svg-holder-r {
  width: auto !important;
  height: 20px !important;
}
.offer-category .svg-holder-r svg {
  width: 20px;
  height: 20px;
}
.offer-category .svg-holder-r svg path {
  fill: #c4c2c2 !important;
}
.scale-w-2 {
  transform: scale(2);
}
.background-bl {
  background-color: black;
}
#videos {
  display: flex;
  padding: 10px;
  height: 400px;
}
#videos video {
  object-fit: contain !important;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

@media only screen and (max-width: 912px) {
  .loading-screnn.landing-page {
    top: 145px !important;
  }
}
.loading-screnn {
  top: 98px !important;
}
.react-loading-skeleton:after {
  content: "";
}

.offer-slide-item:not(:first-child) {
  margin-left: 20px;
}
.slider-container {
  transition: transform 0.3s ease-out;
  overflow: scroll;
}
.slider-container::-webkit-scrollbar {
  display: none;
}

.slider-container.is-swiping {
  transition: none;
}
.embla {
  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;
  width: 100%;
  height: 100%;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 95%;
  padding-left: var(--slide-spacing);
}
