@import url("../styles/arabic.css");
@import url("../styles/offers.css");
.site-container {
  background-color: rgba(244, 244, 244, 1);
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
body {
  background: none !important;
}
.categories-bar-item-icon > span:first-child {
  width: 24px;
}
.categories-bar-item:hover .categories-bar-item-description {
  opacity: 1;
}
.categories-bar-item:hover .categories-bar-item-icon {
  transform: scale(1.25);
}
.categories-bar-item:hover .categories-bar-item-icon svg path,
.categories-bar-item:hover .categories-bar-item-icon svg rect,
.categories-bar-item:hover .categories-bar-item-icon svg circle {
  fill: #3c3c3c;
}
.active-search {
  margin: 0px !important;
}
.search-component-container input {
  outline: none;
  border: none;
  flex: 1;
  font-size: 14px;
  color: #505050;
  margin-left: 10px;
  background-color: transparent;
}
.search-component-container input::placeholder {
  color: #cecdcd;
  font-size: 14px;
}
/*Login Section Css*/
.backdrop-login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #000000;
  opacity: 0.2;
  z-index: 999999999;
}
.login-widget-container {
  display: flex;
  position: absolute;
  max-width: 390px;
  width: 90vw;
  min-height: 100px;
  top: 56px;
  flex-direction: column;
  background-color: transparent;
  z-index: 999999999;
}
.border-option svg {
  width: 100%;
}
.border-option svg g rect {
  width: 100%;
}
.login-label {
  display: flex;
  width: 100%;
  z-index: 2;
  border-radius: 20px;
  height: 40px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.login-label-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.login-label-text {
  display: flex;
  color: #707070;
  margin-left: 10px;
  font-size: 14px;
}
.login-close-icon {
  display: flex;
  transform: scale(1.5);
  cursor: pointer;
}
.login-label-container {
  display: flex;
  height: 40px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #fafafa;
}
.login-blue-question {
  display: flex;
  margin-top: 17px;
  color: #4d84ff;
  width: 100%;
  justify-content: flex-start;
  padding-left: 126px;
  font-size: 12px;
  align-items: center;
}

.create-account-button.login-label-container {
  height: 50px;
  cursor: pointer;
  background-color: #505050;
  margin-top: 9px;
}

.create-account-button .login-label {
  height: 50px;
  padding-left: 76px;
}
.create-account-button .login-label-text {
  margin-left: 30px;
  color: #fafafa;
  font-size: 16px;
}
.active-login-icon path {
  color: rgba(77, 132, 255, 1);
  fill: rgba(77, 132, 255, 1);
}

.login-qr-section {
  display: flex;

  margin-top: 1px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  justify-content: flex-start;
}
.login-qr-info {
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}
.login-qr-info-text {
  font-size: 10px;
  display: flex;
  margin-left: 5px;
  color: #8e8e8e;
}
.qr-element {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.login-phone-element {
  display: flex;
  width: 350px;
  position: relative;
  width: 100%;
  align-items: center;
  padding-left: 24.6px;
  height: 50px;
  margin-top: 20px;
}
.flag-icon {
  min-width: 22px;
  height: 15px;
  font-family: var(--icon-font);
  align-items: center;
  display: flex;
  margin-left: 20px;
}
.login-phone-input {
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 4px;
  color: #707070;
  font-size: 14px;
  font-family: var(--SF-Pro-Rounded-Regular);
}
.phone-input-element {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
  width: 100%;
}
.plus-icon-phone {
  font-size: 18px;
  color: #8e8e8e;
  margin-left: 7px;
  display: flex;
  font-family: var(--SF-Pro-Rounded-Regular);
}
.phone-arrow {
  position: absolute;
  top: 18px;
  right: 15px;
}
.blue-text {
  font-size: 10px;
  color: #4d84ff;
  display: flex;
  margin-left: 3px;
}
.pin-inputs-container {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  position: relative;
}
.pin-border-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  top: 0px;
  left: 0px;
  position: absolute;
}
.pincode-input-container {
  margin-top: 0px;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pincode-input-text {
  color: #707070 !important;
  border: none !important;
}
.input-success {
  background-color: #f4fff4 !important;
}
.input-failed {
  background-color: #fff5f5 !important;
}
.message-recieve-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.message-recieve-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 170px;
  position: relative;
}
.message-recieve-option .border-option {
  position: absolute;
  top: 0px;
  left: 0px;
}
.pincode-input-text::placeholder {
  color: transparent !important;
}
.message-recieve-option-text {
  display: flex;
  font-size: 12px;
  margin-left: 10px;

  color: #707070;
}
.login-light-label {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #8e8e8e;
}
.login-attempt {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #404040;
  margin-top: 2px;
}
.login-change-method {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 35px;
}
.method-change-label {
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 12px;
  color: #707070;
}
.method-change-anchor {
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 12px;
  color: #4d84ff;
  margin-top: 8px;
  text-decoration: underline;
}
.login-success-container {
  display: flex;
  width: 100%;
  z-index: 2;
  border-radius: 20px;
  height: 100%;
  /* height: 40px; */
  position: relative;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}
.signup-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 38px;
  color: #707070;
}
.login-blue-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  font-size: 12px;
  color: #4d84ff;
  margin-top: 27px;
}
.absolute-create-button {
  position: absolute;
  height: 50px;
  cursor: pointer;
  background-color: #505050;
  margin-top: 9px;
  top: 363px;
  z-index: 2;
}
.nav-img-item.nav-question-item {
  width: 30px;
  min-width: 30px;
  padding: 0px;
  display: flex !important;
  height: 30px;
  display: flex;
}
.inset-shadow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0px 4px 6px;
  border-radius: 10px;
  z-index: 10;
}
.avatar-user-image {
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
  border-radius: 10px;
  object-fit: cover;
}
/* translations button*/
.translations-container:hover {
  height: 200px;
}

.translations-container:hover .translations-container-inner .en-icon {
  top: -70px;
}
.selected-language {
  background-color: #cecdcd;
}
.translations-container:hover .translations-container-inner .ar-icon {
  top: -140px;
}
.translations-container:hover .translations-container-inner .tr-icon {
  top: -210px;
}

/*Loading Page*/
.loading-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(2px);
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
}
.Logo-loading {
  display: flex;
  transform: scale(2);
}
/*stories section*/
.stories-container {
  width: 100%;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: flex-start;
}
.story-component {
  width: 145px;
  height: 255px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: #00000023 0px 3px 6px;
}
.story-component:not(:first-child) {
  margin-left: 10px;
}
.story-component img {
  transition: 0.3s ease-in-out;
  object-fit: contain;
  transform: scale(1);
}
.story-component .fixed-layout div div:not(first-child):not(:last-child) {
  align-items: center;
  justify-content: center;
}

.story-component:hover img.thumb-img {
  transition: 0.3s ease-in-out;
  transform: scale(1.06);
}
.story-component video {
  width: 100vw;
  object-fit: contain;
}
/*animated log*/
.animated-container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 20px;
}
.animated-container > svg {
  transform: scale(1.5);
  margin-left: 33vw;
}
.progress-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  background-color: #77777787;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CircularProgressbar-path {
  stroke: #5d5d5d !important;
}
.CircularProgressbar-trail {
  stroke: #fafafa !important;
}
.CircularProgressbar-text {
  fill: #fafafa !important;
}
.CircularProgressbar-background {
  fill: green;
}
.items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.fixed-layout div:nth-child(2) > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.fixed-layout div:nth-child(2) > div:nth-child(2) img {
  object-fit: cover;
  object-position: center top;
}

.slick-slider {
  max-width: 100%;
  max-height: 100%;
}
.slick-list {
  overflow: visible !important;
}
.image-border {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
img {
  max-width: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}
.slick-slider {
  width: 100%;
}
span.bold-text {
  font-family: var(--Quicksand-Bold);
}
.quick-widget {
  height: 64vw !important;
  background-size: 169% 64vw;
  max-height: 766px;
}
.quick-event-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 50px;
  position: relative;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  border-radius: 15px;
  background-color: #ffffcc;
  padding-left: 25px;
  padding-right: 10px;
}
.quick-event-bar svg:first-child {
  position: absolute;
  top: 0px;
  left: 0px;
}
.stopwatch-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  right: 10px;
}
.timer-element {
  display: flex;
  margin-left: 5px;
}
.stopwatch-container span {
  font-family: var(--SF-Pro-Rounded-Medium);
  font-size: 16px;
  color: #3c3c3c;
  margin-left: 2px;
}
.number-holder {
  width: 26px;
  height: 26px;
  margin-left: 2px;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #3c3c3c;
  color: #ffffcc;
  letter-spacing: 0.025em;
  font-size: 14px;
  font-family: var(--SF-Pro-Rounded-Medium);
  display: flex;
}
.number-holder:first-child {
  margin-left: 0px;
}
.slick-slide > div,
.slick-track,
.slick-list,
.slick-slider {
  height: 100%;
}
.loading-svg path {
  fill: #969696;
  stroke: #969696;
}
.capturing-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(141, 6, 6);
}
.stop-icon {
  width: 20px;
  height: 20px;
  background-color: rgb(141, 6, 6);
  border-radius: 1px;
}
