.categories-bar-item:hover .categories-bar-item-description,
.categories-bar-item.active-nav-category .categories-bar-item-description {
  opacity: 1;
}
.categories-bar-item:hover .categories-bar-item-icon,
.categories-bar-item.active-nav-category .categories-bar-item-icon {
  transform: scale(1.25);
}
.categories-bar-item.active-nav-category
  .categories-bar-item-description
  .categories-bar-item-name {
  color: #3c3c3c;
}
.categories-bar-item:hover .categories-bar-item-icon svg path,
.categories-bar-item:hover .categories-bar-item-icon svg circle,
.categories-bar-item:hover .categories-bar-item-icon svg ellipse,
.categories-bar-item:hover .categories-bar-item-icon svg line,
.categories-bar-item.active-nav-category .categories-bar-item-icon svg path,
.categories-bar-item.active-nav-category .categories-bar-item-icon svg circle,
.categories-bar-item.active-nav-category .categories-bar-item-icon svg ellipse,
.categories-bar-item.active-nav-category .categories-bar-item-icon svg line {
  stroke: #3c3c3c !important;
  fill: #3c3c3c !important;
}
.categories-bar-item .categories-bar-item-icon svg path,
.categories-bar-item .categories-bar-item-icon svg circle,
.categories-bar-item .categories-bar-item-icon svg path,
.categories-bar-item .categories-bar-item-icon svg circle,
.categories-bar-item .categories-bar-item-icon svg ellipse,
.categories-bar-item .categories-bar-item-icon svg line {
  stroke: #c4c2c2 !important;
  fill: #c4c2c2 !important;
}
.lang-modalDisable {
  content: "";
  position: fixed;
  z-index: 999999999999999999998;
  width: 100vw;
  height: 100vh;
}

.nav-img-item.nav-question-item {
  width: 30px;
  min-width: 30px;
  padding: 0px;
  display: flex !important;
  height: 30px;
  display: flex;
}
.inset-shadow {
  position: absolute;

  width: 30px;
  top: 8px;
  left: 8px;

  height: 30px;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0px 4px 6px;
  border-radius: 10px;
  z-index: 10;
}
.avatar-user-image {
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
  border-radius: 10px;
  object-fit: cover;
}
.categories-bar-item-name ~ svg {
  margin-left: 6px;
}
/* translations button*/

.items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.landing-page {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  position: fixed;
  z-index: 1000000000000000000;
  align-items: flex-start;
  justify-content: center;
  top: 0px;
  left: 0px;
}

svg g #Path_213345 {
  animation: opa 1s both infinite;
}
.active-nav-item svg g g path:first-child {
  fill: #3c3c3c;
}
.active-nav-item svg g g path:last-child {
  fill: #505050;
}

img {
  max-width: 100%;
  user-select: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden !important;
}
.loading-svg path {
  fill: #969696;
  stroke: #969696;
}
.home-page-container {
  max-width: 1366px;
  flex-direction: column;
  padding: 30px;
}

.home-navbar {
  z-index: 999999996;
  height: 84px;
  flex-direction: row;
}
