@import url("../styles/offers.css");
.site-container {
  background-color: #fafafa;
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
  min-height: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  background: none !important;
}
.lang-modalDisable {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  z-index: 2000;
}
.add-story-container.story-element-container {
  border-radius: 20px;
  animation: auto ease 0s 1 normal none running none;
  background-color: rgb(240, 240, 240);
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transform: translateY(1px);
  min-width: 100px;
  height: 150px;
}
.phone-input-element {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
  width: 100%;
}
.login-phone-input {
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 4px;
  color: #707070;
  font-size: 14px;
  font-family: var(--SF-Pro-Rounded-Regular);
}
.categories-bar-item-icon > span:first-child {
  width: 24px;
}
.categories-bar-item:hover .categories-bar-item-description {
  opacity: 1;
}
.categories-bar-item:hover .categories-bar-item-icon {
  transform: scale(1.25);
}
.categories-bar-item:hover .categories-bar-item-icon svg path,
.categories-bar-item:hover .categories-bar-item-icon svg rect,
.categories-bar-item:hover .categories-bar-item-icon svg circle {
  fill: #3c3c3c;
}
.active-search {
  margin: 0px !important;
}
.search-component-container input {
  outline: none;
  border: none;
  flex: 1;
  font-size: 14px;
  color: #505050;
  margin-left: 10px;
  background-color: transparent;
}
.search-component-container input::placeholder {
  color: #cecdcd;
  font-size: 14px;
}
.nav-img-item.nav-question-item {
  width: 30px;
  min-width: 30px;
  padding: 0px;
  display: flex !important;
  height: 30px;
  display: flex;
}
.inset-shadow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0px 4px 6px;
  border-radius: 10px;
  z-index: 10;
}
.avatar-user-image {
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
  border-radius: 10px;
  object-fit: cover;
}
/* translations button*/
.translations-container:hover {
  height: 200px;
}

.translations-container:hover .translations-container-inner .en-icon {
  top: -70px;
}
.selected-language {
  background-color: #cecdcd;
}
.translations-container:hover .translations-container-inner .ar-icon {
  top: -140px;
}
.translations-container:hover .translations-container-inner .tr-icon {
  top: -210px;
}
/*stories section*/
.stories-container {
  width: 100%;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: flex-start;
}
.story-component {
  width: 145px;
  height: 255px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: #00000023 0px 3px 6px;
}
.story-component:not(:first-child) {
  margin-left: 10px;
}
.story-component img {
  transition: 0.3s ease-in-out;
  object-fit: contain;
  transform: scale(1);
}
.story-component .fixed-layout div div:not(first-child):not(:last-child) {
  align-items: center;
  justify-content: center;
}

.story-component:hover img.thumb-img {
  transition: 0.3s ease-in-out;
  transform: scale(1.06);
}
.story-component video {
  width: 100vw;
  object-fit: contain;
}
/*animated log*/
.progress-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  background-color: #77777787;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CircularProgressbar-path {
  stroke: #5d5d5d !important;
}
.CircularProgressbar-trail {
  stroke: #fafafa !important;
}
.CircularProgressbar-text {
  fill: #fafafa !important;
}
.CircularProgressbar-background {
  fill: green;
}
.items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
.fixed-layout {
  max-width: 100%;
  max-height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  margin-left: 0px;
  margin-top: px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes opa {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
svg g #Path_213320 {
  animation: opa 1s both infinite;
}
.active-nav-item svg g g path:first-child {
  fill: #3c3c3c;
}
.active-nav-item svg g g path:last-child {
  fill: #505050;
}
.image-loader {
  width: 100%;
  height: 100%;
  background-color: rgb(230, 230, 230);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed-layout div:nth-child(2) > div:first-child:not(.swiper-wrapper) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.fixed-layout div:nth-child(2) > div:nth-child(2) img {
  object-fit: cover;
  object-position: center top;
}

.slick-slider {
  max-width: 100%;
  max-height: 100%;
}
.slick-list {
  overflow: visible !important;
}
.image-border {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
img {
  max-width: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden !important;
}
.slick-slider {
  width: 100%;
}
span.bold-text {
  font-family: var(--Quicksand-Bold);
}
.quick-widget {
  height: 64vw !important;
  background-size: 169% 64vw;
  max-height: 766px;
}
.quick-event-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 30px;
  position: relative;
  z-index: 1;
  margin-top: 8px;
  bottom: 0px;
  left: 0px;
  border-radius: 15px;
  background-color: transparent;
  padding-left: 25px;
  padding-right: 20px;
}
.quick-event-bar svg:first-child {
  position: absolute;
  top: 0px;
  left: 0px;
}
.stopwatch-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  right: 20px;
}
.timer-element {
  display: flex;
  margin-left: 5px;
}
.stopwatch-container span {
  font-family: var(--SF-Pro-Rounded-Medium);
  font-size: 16px;
  color: #3c3c3c;
  margin-left: 2px;
}
.number-holder {
  width: 26px;
  height: 26px;
  margin-left: 2px;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #3c3c3c;
  color: #ffffcc;
  letter-spacing: 0.025em;
  font-size: 14px;
  font-family: var(--SF-Pro-Rounded-Medium);
  display: flex;
}
.number-holder:first-child {
  margin-left: 0px;
}
.slick-slide > div,
.slick-track,
.slick-list,
.slick-slider {
  height: 100%;
}
.loading-svg path {
  fill: #969696;
  stroke: #969696;
}
.capturing-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(141, 6, 6);
}
.stop-icon {
  width: 20px;
  height: 20px;
  background-color: rgb(141, 6, 6);
  border-radius: 1px;
}
.button-bases {
  position: fixed;
  bottom: 20px;
  left: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99999999999;
}
.button-bases button {
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
  background-color: #dddddd;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #0000002a 0px 3px 6px;
}
.button-bases button svg path {
  fill: #555;
}
.button-bases button:disabled svg path {
  fill: #8e8d92;
}
.fixed-img-prev {
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: transparent;
  height: 100vh;
  display: flex;
  z-index: 9999999999;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.fixed-img-prev .svv {
  position: absolute;
  top: 29px;
  right: 30px;
  cursor: pointer;
  z-index: 9999999999999;
}
.fixed-img-prev video.cameraInput {
  height: 100%;
  width: 100% !important;
  inset: 0px !important;
  max-height: 100vh;
  color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
  position: absolute !important;
  z-index: 99999999;
}

.fixed-img-prev .bac-drop {
  background-color: #585751;
  opacity: 0.6;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

.fixed-img-prev img,
.fixed-img-prev video {
  height: auto;
  width: 100% !important;
  inset: 0px !important;
  max-height: 90vh;
  color: transparent;
  object-fit: fill;
  position: static !important;
  z-index: 99999999;
}
