.phone-input-element {
  width: 100% !important;
  max-width: 390px !important;
  height: 60px !important;
  position: relative !important;
}
.login-phone-input {
  height: 20px;
  font-size: 20px !important;
  font-family: var(--Quicksand-Regular) !important;
  color: #5d5c5d !important;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 4px;
}
