.offer-category svg {
  margin-right: 4px;
  transform: scale(1);
}

.offer-category svg:last-child {
  margin-left: 0;
}
.bar-desc-column-ar {
  align-items: end;
  margin-left: 0px;
  margin-right: 5px;
}

.bar-name {
  font-family: var(--Quicksand-Medium);
  display: flex;
  font-size: 14px;
  color: #3c3c3c;
}
.offer-avatar:not(.hasMore):hover {
  z-index: 999 !important;
  margin-bottom: 15px;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  bottom: 30px;
}
.offer-avatar:not(.hasMore):hover .offer-avatar-info {
  opacity: 1;
}
.offer-avatar:not(.hasMore).active-hover {
  z-index: 999 !important;
  margin-bottom: 15px;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.offer-avatar:not(.hasMore).active-hover .offer-avatar-info {
  opacity: 1;
  display: flex;
}
