.offer-details {
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: space-between;
}
.offer-details-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}
.offer-details-icon {
  display: flex;
}
.offer-details-text {
  display: flex;
  align-items: center;
  color: #505050;
  font-family: var(--Quicksand-Regular);
  font-size: 14px;
}
.offer-details-text span {
  color: #505050;
  margin-left: 5px;
}
.extended-widget .offer-slider-container {
  max-height: 340px;
}
.extended-widget .offer-slider-container .offer-avatars-container {
  bottom: 7% !important;
}

.offer-avatar:not(.hasMore).active-hover {
  z-index: 999 !important;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.offer-avatar:not(.hasMore).active-hover .offer-avatar-info {
  opacity: 1;
}
.no-label {
  display: none !important;
}
