.home-page-container.forward {
  animation: slide-in-left 0.5s ease forwards;
}
.home-page-container.backward {
  animation: slide-in-right 0.5s ease forwards;
}
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: 1;
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: 1;
  }
}
