.product_redeem .buy-card-text {
  color: #ff6200 !important;
}
.product-media-redeem-show {
  border: 1px solid #d3d3d3 !important;
}
.product_redeem .product-media-redeem-show {
  border: 1px solid #ff6200 !important;
}
.buy-card-text {
  color: #1d1d1d;
}
