.mobile-bar .search-component-container {
  min-width: 58vw;
}
.search-component-container {
  transition: 1s;
}
.search-component-container input {
  outline: none;
  border: none;
  flex: 1;
  font-size: 14px;
  color: #505050;
  margin-left: 10px;
  background-color: transparent;
}
.search-component-container input::placeholder {
  color: #cecdcd;
  font-size: 14px;
}
.search-component-container input {
  outline: none;
  border: none;
  flex: 1;
  font-size: 14px;
  color: #505050;
  margin-left: 10px;
  background-color: transparent;
}
.mobile-bar .search-component-container {
  min-width: 58vw;
}
.search-component-container {
  transition: 1s;
}
.search-component-container input {
  outline: none;
  border: none;
  flex: 1;
  font-size: 14px;
  color: #505050;
  margin-left: 10px;
  background-color: transparent;
}
.search-component-container input::placeholder {
  color: #cecdcd;
  font-size: 14px;
}
.search-component-container input {
  outline: none;
  border: none;
  flex: 1;
  font-size: 14px;
  color: #505050;
  margin-left: 10px;
  background-color: transparent;
}
.search-component-container {
  width: 58vw;
  flex: 1;
  display: flex;
  top: 26px;
  z-index: 10;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px 20px;
  height: 50px;
  transition: 0.3s;
  max-width: 100%;
}
