.add-story-container.story-element-container {
  border-radius: 20px;
  animation: auto ease 0s 1 normal none running none;
  background-color: rgb(240, 240, 240);
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transform: translateY(1px);
  min-width: 100px;
  height: 150px;
}
.addStory-modal {
  width: "100vw";
  height: "100vh";
  max-width: "1365px";
  top: "-113px";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}
.stories-container {
  width: 100%;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: flex-start;
}
.story-component {
  width: 145px;
  height: 255px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: #00000023 0px 3px 6px;
}
.story-component:not(:first-child) {
  margin-left: 10px;
}
.story-component img {
  transition: 0.3s ease-in-out;
  object-fit: contain;
  transform: scale(1);
}
.story-component .fixed-layout div div:not(first-child):not(:last-child) {
  align-items: center;
  justify-content: center;
}

.story-component:hover img.thumb-img {
  transition: 0.3s ease-in-out;
  transform: scale(1.06);
}
.story-component video {
  width: 100vw;
  object-fit: contain;
}
.Cube__Pane {
  padding: 0px !important;
}
.fixed-stories {
  transform-style: preserve-3d;
  transition: 0.3s;
  min-width: 100%;
  background-color: #111111;
  min-height: 100%;
}
.active-story {
  transform: translateX(0px) rotateY(0deg);
}
.prev-story {
  transform: translateX(-100%);
  min-width: 100vw;
  transform-origin: left;
}
.next-story {
  transform-origin: right;
  transform: translateX(100%);
}
.story-holder {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-holder img,
.story-holder video {
  width: 100%;
  height: auto;
  max-height: 90%;
  object-fit: contain;
}
.story-element-container {
  display: flex;
  min-width: 110px;
  max-width: 110px;
  height: 160px;
  position: relative;
  justify-content: flex-start;
  align-items: flex-end;
}

.story-avatar {
  display: flex;
  position: absolute;
  top: 0;
  left: -5px;
  width: 30px;
  height: 30px;
  background-color: #ffab62;
  z-index: 10;
}
.story-avatar.is-seen-story {
  background-color: #ffff;
}
.story-avatar,
.story-avatar img {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.story-avatar img {
  width: 28px;
  height: 28px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
}

.story-element-item {
  position: relative;
}

.story-element-item,
.story-element-item img {
  width: 100px;
  height: 150px;
  border-radius: 20px;
  display: flex;
}

.story-element-item img {
  z-index: 2;
  -o-object-fit: cover;
  object-fit: cover;
}

.linear-g-image {
  width: 100px;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(180deg, #00000000 0, #000 181%);
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.story-element-container:not(:first-child) {
  margin-left: 5px;
}

.story-text {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 81px;
  display: block;
  right: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 2px;
  left: 0;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  font-family: var(--Quicksand-Regular);
  color: #fff;
  z-index: 12;
  letter-spacing: 0.003;
}
.fixed-img-prev img.image-story-camera,
.fixed-img-prev video.image-story-camera {
  width: 100% !important;
  height: 100% !important;
  max-height: 100vh !important;
  position: absolute !important;
}
.story-element-container:not(.add-story-container) .story-element-item {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.story-element-container {
  width: 100px;
  min-width: 100px;
}
.story-element-container:not(:first-child) {
  margin-left: 15px;
}
.progress-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  background-color: #77777787;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CircularProgressbar-path {
  stroke: #5d5d5d !important;
}
.CircularProgressbar-trail {
  stroke: #fafafa !important;
}
.CircularProgressbar-text {
  fill: #fafafa !important;
}
.CircularProgressbar-background {
  fill: green;
}
.fixed-layout div:nth-child(2) > div:first-child:not(.swiper-wrapper) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.fixed-layout {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  height: 100%;
  width: 100vw;
  left: 0px;
  top: 0px;
  z-index: 999999999999999;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed-layout div:nth-child(2) > div:nth-child(2) img {
  object-fit: cover;
  object-position: center top;
}
.capturing-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(141, 6, 6);
}
.stop-icon {
  width: 20px;
  height: 20px;
  background-color: rgb(141, 6, 6);
  border-radius: 1px;
}
.button-bases {
  position: fixed;
  bottom: 20px;
  left: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99999999999;
}
.button-bases button {
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
  background-color: #dddddd;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #0000002a 0px 3px 6px;
}
.button-bases button svg path {
  fill: #555;
}
.button-bases button:disabled svg path {
  fill: #8e8d92;
}
.fixed-img-prev {
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: transparent;
  height: 100vh;
  display: flex;
  z-index: 9999999999;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.fixed-img-prev .svv {
  position: absolute;
  top: 29px;
  right: 30px;
  cursor: pointer;
  z-index: 9999999999999;
}
.fixed-img-prev video.cameraInput {
  height: 100%;
  width: 100% !important;
  inset: 0px !important;
  max-height: 100vh;
  color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
  position: absolute !important;
  z-index: 99999999;
}

.fixed-img-prev .bac-drop {
  background-color: #585751;
  opacity: 0.6;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

.fixed-img-prev img,
.fixed-img-prev video {
  height: auto;
  width: 100% !important;
  inset: 0px !important;
  max-height: 90vh;
  color: transparent;
  object-fit: fill;
  position: static !important;
  z-index: 99999999;
}
.stories-bars {
  cursor: pointer;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.stories-bar-container {
  display: flex;

  height: 200px;

  align-items: center;
  justify-content: flex-start;
}
