@tailwind base;
@tailwind components;
@tailwind utilities;
.home-page-container .login-w2-container.login-widget-container.step-1 {
  justify-content: center;
}
.phone-input-desc.already-registered {
  margin-bottom: min(calc(32vh - 50px), 306px);
}
@media only screen and (min-width: 601px) {
  .home-page-container
    .login-w2-container.login-widget-container.step-1
    #logo-auth {
    margin-left: 40px !important;
  }
  .margin-none {
    margin: 0 !important;
  }
  .home-page-container .login-w2-container.login-widget-container #logo-auth {
    margin-left: 40px !important ;
  }
  .home-page-container .login-w2-container.login-widget-container.step2,
  .home-page-container .login-w2-container.login-widget-container.step3,
  .home-page-container .login-w2-container.login-widget-container.step4 {
    justify-content: flex-start !important;
  }
  .home-page-container
    .login-w2-container.login-widget-container
    .animation-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: auto !important;
  }

  .step6 .animated-container {
    width: 390px;
    min-width: 390px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
  }
  #secondRect {
    width: 100%;
  }
  .home-page-container .login-w2-container.login-widget-container.step6 {
    padding-bottom: 54px !important;
  }
  .home-page-container {
    padding-top: 40px !important;
  }
  .home-page-container .categories-bar-container.mobile-bar {
    display: none !important;
  }
  .home-page-container .categories-bar-container:not(.mobile-bar) {
    margin-left: 50px;
    display: flex;
    padding: 0px;
    align-items: center;
  }
  .home-page-container .categories-bar-container:not(.mobile-bar) a,
  .home-page-container
    .categories-bar-container:not(.mobile-bar)
    .categories-bar-item {
    margin: 0px;
  }
  .home-navbar {
    height: 30px !important;
  }
  .stories-bar,
  .stories-bars {
    margin-top: 0px !important;
    height: 160px !important;
  }
  .stories-bars {
    padding-left: 50px;
    padding-right: 56px;
  }
  .story-element-container {
    width: 100px;
    min-width: 100px;
  }
  .story-element-container:not(:first-child) {
    margin-left: 15px;
  }
  .stories-bar-container {
    margin-top: 35px !important;
    height: auto !important;
    flex-direction: column;
  }
  #stories-border2 {
    display: flex;
    min-height: 1px;
    padding-inline: 30px;
    margin-top: 40px;
  }
  .home-page-container .login-w2-container.login-widget-container {
    height: calc(100vh - 92px) !important;
    max-height: 932px;
    right: 20px;
    justify-content: flex-start !important;
    padding-top: 50px;
    top: 82px;
  }
}
@media only screen and (max-width: 600px) {
  .stories-bar-container {
    margin-top: 23px !important;
  }
}
.step6 {
  padding-bottom: 54px !important;
  padding-inline: 20px;
}
svg {
  overflow: visible;
}
.animated-container {
  min-width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 912px) {
  .login-w2-container.login-widget-container {
    right: 20px;
    top: 82px;
  }
  #stories-border2 {
    display: none;
  }
  .home-page-container .categories-bar-container.mobile-bar {
    margin: 0px !important;
    max-width: 900px !important;
    display: flex !important;
    width: 100% !important;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 30px;
    height: 47px;
    background-color: white;
    padding-top: 7px !important;
    z-index: 8;
  }
  .categories-bar-item-name {
    font-size: 10px;
    color: #c4c2c2;
  }
  .categories-bar-item:hover .categories-bar-item-name {
    color: #505050;
  }
  .categories-bar-item:hover .categories-bar-item-icon {
    transform: scale(1) !important;
  }
  .categories-bar-item-icon {
    justify-content: center !important;
  }
  .categories-bar-item .categories-bar-item-description {
    position: static !important;
    opacity: 1 !important;
    margin-top: 4px;
    height: auto !important;
  }
  .user-nav-container {
    transform: translateY(-2px);
  }
  .categories-bar-container,
  .welcome-user {
    display: none !important;
  }
  .home-page-container {
    align-items: center;
    padding: 0px !important;
  }
  .home-navbar {
    min-height: 98px;
    align-items: flex-start !important;
    padding: 0px;
    padding-top: 52px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
  }
  .nav-question-item:nth-child(2) {
    margin-left: 0px;
  }
  .nav-question-item:not(:first-child) {
    margin-left: 0px;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
  .nav-question-item:nth-child(2) svg {
    min-width: 15px;
  }
  svg {
    overflow: visible !important;
  }
  .search-component-container {
    width: 88vw;
  }
  .nav-question-item {
    position: relative;
  }
  .nav-question-item span {
    position: absolute;
    opacity: 0;
    display: flex;
    color: rgb(248, 85, 85, 1);
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
    width: max-content;
    left: -8px;
    bottom: 40px;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 5px;
    transition: 0.3s;
  }
  .nav-question-item {
    padding: 0px;
  }
  .nav-question-item svg {
    transform: scale(1);
  }
  .nav-question-item:hover span {
    opacity: 1;
  }
  .nav-img-item.nav-question-item,
  .user-nav-container .nav-question-item.nav-img-item:nth-child(4) {
    width: 30px;
    min-width: 30px;
    padding: 0px;
    display: flex !important;
    height: 30px;
    display: flex;
  }
  .stories-bar,
  .stories-bar-container,
  .stories-bars {
    width: 100%;
    height: 183px;
    margin-top: 0px;
  }
  .stories-bars {
    padding-left: 20px;
    align-items: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
    transform: translateY(-3px);
    height: 180px !important;
  }
  .offers-list.mt-5 {
    margin-top: 20px !important;
  }
  .story-element-container:not(.add-story-container) .story-element-item {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }
  .home-bar {
    display: none !important;
  }
  .offers-list {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 430px) {
  .offer-slider-container {
    height: 31.4vw;
  }
  .offer-widget {
    height: 54vw;
    max-height: 476px;
  }
}
@media only screen and (max-width: 480px) {
  .app {
    right: 0px !important;
    left: initial !important;
  }
}
@media only screen and (min-width: 500px) {
  .offer-slider-container {
    height: 34.4vw;
  }
  .offer-widget {
    height: 54vw;
    max-height: 476px;
  }
}
@media only screen and (min-width: 913px) {
  .stories-bar-container {
    margin-top: 60px !important;
  }
}
.mobile-bar .search-component-container {
  min-width: 58vw;
}
.home-page-container .categories-bar-container.mobile-bar {
  display: none;
}

.home-page-container {
  display: flex;
  width: 100%;
  max-width: 1366px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}
.home-navbar {
  display: flex;
  height: 84px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* purgecss end ignore */
