.mobile-bar.categories-bar-container .categories-bar-item {
  cursor: pointer;
}
svg {
  overflow: visible;
}

@media only screen and (max-width: 912px) {
  .login-w2-container.login-widget-container {
    right: 20px;
    top: 82px;
  }
  .categories-bar-item:hover .categories-bar-item-name {
    color: #505050;
  }
  .categories-bar-item:hover .categories-bar-item-icon {
    transform: scale(1) !important;
  }
  .nav-question-item:nth-child(2) svg {
    min-width: 15px;
  }

  .nav-question-item span {
    cursor: pointer;

    transition: 0.3s;
  }
  .nav-question-item svg {
    transform: scale(1);
  }

  .nav-img-item.nav-question-item,
  .user-nav-container .nav-question-item.nav-img-item:nth-child(4) {
    width: 30px;
    min-width: 30px;
    padding: 0px;
    display: flex !important;
    height: 30px;
    display: flex;
  }
  .offers-list.mt-5 {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 480px) {
  .app {
    right: 0px !important;
    left: initial !important;
    top: 0px !important;
    z-index: 999999999999999999999;
    height: 100vh !important;
  }
  .app .chat-window {
    height: 100vh !important;
  }
}
@media only screen and (min-width: 913px) {
  .stories-bar-container {
    margin-top: 60px !important;
  }
}
@media only screen and (min-width: 601px) {
  #secondRect {
    width: 100%;
  }
  .home-page-container .categories-bar-container:not(.mobile-bar) {
    margin-left: 50px;
    display: flex;
    padding: 0px;
    align-items: center;
    overflow: scroll;
  }
  .home-page-container
    .categories-bar-container:not(.mobile-bar)::-webkit-scrollbar {
    display: none;
  }
  .home-page-container .categories-bar-container:not(.mobile-bar) div,
  .home-page-container
    .categories-bar-container:not(.mobile-bar)
    .categories-bar-item {
    margin: 0px;
  }
  .home-navbar {
    height: 30px !important;
  }
  .home-navbar.fixed {
    height: 100px !important;
    top: 0px;
    background-color: #fafafa;
  }
  .stories-bar,
  .stories-bars {
    margin-top: 0px !important;
    height: 160px !important;
  }
  .stories-bars {
    padding-left: 50px;
    padding-right: 56px;
  }

  .stories-bar-container {
    margin-top: 35px !important;
    height: auto !important;
    flex-direction: column;
  }
  #stories-border2 {
    display: flex;
    min-height: 1px;
    padding-inline: 30px;
    margin-top: 40px;
  }
  .home-page-container .login-w2-container.login-widget-container {
    height: calc(100vh - 92px) !important;
    max-height: 932px;
    right: 20px;
    justify-content: flex-start !important;
    padding-top: 50px;
    top: 82px;
  }
}
/* purgecss end ignore */
