html[lang="ar"] .home-navbar {
  flex-direction: row-reverse;
}
html[lang="ar"] .categories-bar-container {
  flex-direction: row-reverse;
  margin-right: 50px !important;
  margin-left: 0px !important;
}
html[lang="ar"] .categories-bar-item:not(:first-child) {
  margin-right: 30px;
  margin-left: 0px;
}
html[lang="ar"] .search-component-container {
  flex-direction: row-reverse;
}

html[lang="ar"] .search-component-container svg:nth-child(2) {
  margin-right: 10px;
  margin-left: 0px !important;
}
html[lang="ar"] .search-component-container input {
  direction: rtl;
  margin-left: 0px !important;
  margin-right: 10px;
  text-align: right;
}
html[lang="ar"] .user-nav-container,
.welcome-user,
.nav-question-item {
  flex-direction: row-reverse;
}
html[lang="ar"] .nav-question-item {
  margin-left: 0px !important;
  margin-right: 9px;
}
html[lang="ar"] .nav-question-item span {
  margin-left: 0px !important;
  margin-right: 5px !important;
}
html[lang="ar"] .login-label,
.login-label-title,
.login-qr-info {
  flex-direction: row-reverse;
}
html[lang="ar"] .login-label-text {
  margin-left: 0px !important;
  margin-right: 10px;
}
html[lang="ar"] .login-label.login-extend[aria-details="ar"],
.login-qr-section[aria-details="ar"] {
  align-items: flex-end !important;
}
html[lang="ar"] .login-qr-info-text[aria-details="ar"] {
  margin-left: 0px;
  margin-right: 5px;
}
html[lang="ar"] .login-blue-question[aria-details="ar"] {
  padding-left: 140px;
}
html[lang="ar"] .create-account-button .login-label[aria-details="ar"] {
  padding-right: 132px;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-left: 0px !important;
}
html[lang="ar"] .duartion-login-label[aria-details="ar"] {
  flex-direction: row-reverse;
}
html[lang="ar"] .duartion-login-label[aria-details="ar"] .blue-text {
  margin-left: 0px;
  margin-right: 3px;
}
html[lang="ar"] .login-success-label[aria-details="ar"] {
  direction: rtl;
}
html[lang="ar"] .stories-bars[aria-details="ar"] {
  flex-direction: row-reverse !important;
  padding-right: 15px;
}
html[lang="ar"] .story-element-container[aria-details="ar"] {
  margin-left: 0px;
  margin-right: 5px;
}
html[lang="ar"] .story-element-container[aria-details="ar"]:first-child {
  margin-left: 0px;
  margin-right: 0px;
}
html[lang="ar"] .home-bar[aria-details="ar"] {
  flex-direction: row-reverse;
  padding-right: 10px;
}
html[lang="ar"] .home-bar[aria-details="ar"] .bar-desc-column {
  margin-left: 0px;
  margin-right: 5px;
  align-items: flex-end;
}
html[lang="ar"] .offer-container[aria-details="ar"] {
  align-items: flex-end;
}
html[lang="ar"] .offer-container[aria-details="ar"] .offer-logo {
  margin-left: 0px;
  margin-right: 25px;
}
html[lang="ar"] .offer-container[aria-details="ar"] .offer-category {
  left: 15px;
  right: initial;
}
html[lang="ar"] .offer-container[aria-details="ar"] .offer-desc {
  margin-left: 0px;
  margin-right: 25px;
  direction: rtl;
}
html[lang="ar"] .offer-container[aria-details="ar"] .offer-details {
  flex-direction: row-reverse;
}
html[lang="ar"]
  .offer-container[aria-details="ar"]
  .offer-details
  .offer-details-item {
  margin-left: 0px;
  margin-right: 25px;
}
html[lang="ar"] .quick-event-bar[aria-details="ar"] {
  flex-direction: row-reverse;
}
html[lang="ar"] .quick-event-bar[aria-details="ar"] .stopwatch-container {
  flex-direction: row-reverse;
  right: initial;
  left: 10px;
}
html[lang="ar"] .quick-event-bar[aria-details="ar"] .bar-desc-column {
  align-items: flex-end;
}
html[lang="ar"] .quick-event-bar[aria-details="ar"] .bar-desc {
  direction: rtl;
}
