html[lang="ar"] .home-navbar {
  flex-direction: row-reverse;
}
html[lang="ar"] .categories-bar-container {
  flex-direction: row-reverse;
  margin-right: 50px !important;
  margin-left: 0px !important;
}
html[lang="ar"] .categories-bar-item:not(:first-child) {
  margin-right: 30px;
  margin-left: 0px;
}
html[lang="ar"] .search-component-container {
  flex-direction: row-reverse;
}

html[lang="ar"] .search-component-container svg:nth-child(2) {
  margin-right: 10px;
  margin-left: 0px !important;
}
html[lang="ar"] .search-component-container input {
  direction: rtl;
  margin-left: 0px !important;
  margin-right: 10px;
  text-align: right;
}
html[lang="ar"] .user-nav-container,
html[lang="ar"] .welcome-user,
html[lang="ar"] .nav-question-item {
  flex-direction: row-reverse;
}
html[lang="ar"] .nav-question-item {
  margin-left: 0px !important;
  margin-right: 9px;
}
html[lang="ar"] .nav-question-item span {
  margin-left: 0px !important;
  margin-right: 5px !important;
}
html[lang="ar"] .login-label,
html[lang="ar"] .login-label-title,
html[lang="ar"] .login-qr-info {
  flex-direction: row-reverse;
}
html[lang="ar"] .login-label-text {
  margin-left: 0px !important;
  margin-right: 10px;
}
html[lang="ar"] .login-label.login-extend,
html[lang="ar"] .login-qr-section {
  align-items: flex-end !important;
}
html[lang="ar"] .login-qr-info-text {
  margin-left: 0px;
  margin-right: 5px;
}
html[lang="ar"] .login-blue-question {
  padding-left: 140px;
}
html[lang="ar"] .create-account-button .login-label {
  padding-right: 132px;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-left: 0px !important;
}
html[lang="ar"] .duartion-login-label {
  flex-direction: row-reverse;
}
html[lang="ar"] .duartion-login-label .blue-text {
  margin-left: 0px;
  margin-right: 3px;
}
html[lang="ar"] .login-success-label {
  direction: rtl;
}
html[lang="ar"] .stories-bars {
  flex-direction: row-reverse !important;
  padding-right: 15px;
}
html[lang="ar"] .story-element-container {
  margin-left: 0px;
  margin-right: 5px;
}
html[lang="ar"] .story-element-container:first-child {
  margin-left: 0px;
  margin-right: 0px;
}
html[lang="ar"] .home-bar {
  flex-direction: row-reverse;
  padding-right: 10px;
}
html[lang="ar"] .home-bar .bar-desc-column {
  margin-left: 0px;
  margin-right: 5px;
  align-items: flex-end;
}
html[lang="ar"] .offer-container {
  align-items: flex-end;
}
html[lang="ar"] .offer-container .offer-logo {
  margin-left: 0px;
  margin-right: 25px;
}
html[lang="ar"] .offer-container .offer-category {
  left: 15px;
  right: initial;
}
html[lang="ar"] .offer-desc {
  margin-left: 0px;
  margin-right: 25px;
  direction: rtl;
}
html[lang="ar"] .offer-container .offer-details {
  flex-direction: row-reverse;
}
html[lang="ar"] .offer-container .offer-details .offer-details-item {
  margin-left: 0px;
  margin-right: 25px;
}
html[lang="ar"] .quick-event-bar {
  flex-direction: row-reverse;
}
html[lang="ar"] .quick-event-bar .stopwatch-container {
  flex-direction: row-reverse;
  right: initial;
  left: 10px;
}
html[lang="ar"] .quick-event-bar .bar-desc-column {
  align-items: flex-end;
}
html[lang="ar"] .quick-event-bar .bar-desc {
  direction: rtl;
}
html[lang="ar"] .categories-bar-item:not(:first-child),
html[lang="ar"] .categories-bar-container a:not(:first-child) {
  margin-right: 30px;
  margin-left: 0px;
}
