* [aria-labelledby="en-regular"] {
  font-family: var(--SF-Pro-Rounded-Regular);
}
* [aria-labelledby="en-light"] {
  font-family: var(--SF-Pro-Rounded-Light);
}
* [aria-labelledby="en-medium"] {
  font-family: var(--SF-Pro-Rounded-Medium);
}
* [aria-labelledby="en-semibold"] {
  font-family: var(--SF-Pro-Rounded-semibold);
}
